@use 'utilities' as *;

a:not(.nav__link, .footer__link) {
    color: $primary-800;
    font-weight: 600;

    &:hover {
        color: $primary-400;
    }
}

.dark a:not(.nav__link, .footer__link) {
    color: $secondary-200;
    font-weight: 600;

    &:hover {
        color: $secondary-100;
    }
}

.nav__link,
.footer__link {
    text-decoration: none;
}