@use '../utilities' as *;

.newest_articles {
    padding-bottom: 2rem;
    background-color: var(--bg1);

    &__header {
        text-align: center;

        h2 {
            display: inline-block;
            position: relative;
            margin: 1em 0;
            padding: 0 1.5rem;
            background-color: var(--bg1);
            z-index: 2;
        }

        @media (max-width: 600px) {
            hr {
                display: none;
            }
        }

        @media (min-width: 600px) {
            hr {
                position: relative;
                bottom: 3.25rem;
                width: 95%;
                margin: auto;
                background-color: var(--bg3);
                border: 2px solid var(--bg3);
                z-index: 1;
            }
        }

        @media (min-width: 900px) {
            h2 {
                padding: 0 4rem;
            }

            hr {
                width: calc(95% - (3rem * 2));
            }
        }
    }

    &__body {
        position: relative;
        display: flex;
        align-content: center;
        max-width: 650px;
        margin: auto;
        padding: 0 1em;

        @media (min-width: 600px) {
            padding: 0 3em;
        }

        @media (min-width: 1000px) {
            max-width: 1600px;
        }
    }

    &__images {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: auto;
    }

    &__image {
        align-self: center;
        height: 100%;
        margin: 0 1em;
        cursor: pointer;

        img {
            display: block;
            object-fit: contain;
        }

        p {
            margin-top: .7em;
            text-align: center;
            transition: opacity .4s ease-out;
        }

        .image_big {
            width: 40vw;
            max-width: 550px;
            max-height: 300px;
        }

        .image_small {
            width: 20vw;
            max-width: 350px;
            max-height: 200px;
        }

        &:hover p {
            opacity: .5;
        }

        @media (max-width: 1000px) {
            .image_small,
            .image_small + p {
                display: none;
            }

            .image_big {
                width: 100%;
            }
        }
    }

    &__arrow {
        position: absolute;
        align-self: center;
        top: 50%;
        color: var(--text-color);
        font-size: 3rem;
        transform: translateY(-100%);
        cursor: pointer;

        &:hover {
            opacity: .7;
        }

        &__left {
            left: 25px;
        }

        &__right {
            right: 25px;
        }

        @media (min-width: 1000px) and (max-width: 1300px) {
            &__left {
                left: 15px;
            }

            &__right {
                right: 15px;
            }
        }

        @media (max-width: 600px) {
            &__left {
                left: 15px;
            }

            &__right {
                right: 15px;
            }
        }
    }
}

.dark .newest_articles {
    img {
        opacity: .9;
    }
}