$neutral-100: hsl(0, 0%, 100%);
$neutral-200: hsl(0, 10%, 97%);
$neutral-500: hsl(0, 0%, 60%);
$neutral-600: hsl(0, 0%, 48%);
$neutral-700: hsl(0, 0%, 24%);
$neutral-800: hsl(0, 0%, 18%);
$neutral-900: hsl(0, 0%, 0%);

$primary-400: hsl(173, 82%, 40%);
$primary-800: hsl(173, 70%, 35%);

$secondary-100: hsl(24, 100%, 90%);
$secondary-200: hsl(24, 100%, 85%);
$secondary-300: hsl(24, 40%, 75%);

// $accent-100: #a8c3d3;
// $accent-200: #89bcda;
$accent-400: hsl(202, 71%, 57%);