@use '../utilities' as *;

.footer {
    position: relative;
    padding: 2em 1em 1em;
    background-color: var(--bg3);
    color: var(--text-color);

    strong {
        display: block;
        margin: .7em 0;
    }

    a {
        color: inherit;

        &:hover {
            color: $secondary-200;
        }
    }

    i + *{
        margin-left: 1em;
    }

    .flex {
        max-width: 650px;
        margin: auto;

        .col > div + div {
            margin-top: .3em;
        }

        @media (min-width: 601px) {
            display: flex;
            justify-content: space-between;
            width: 80%;
        }

        @media (max-width: 600px) {
            text-align: center;
            width: fit-content;
        }
    }

    .copyright {
        width: 100%;
        margin: 2em 0 0 0;
        text-align: center;
    }

}